div {
    background-color: #A3E9C0;
    display: flex;
    width: 250px;
    flex-direction: column;
    padding: 100px;
}

.form-warning {
    color: red;
   font-weight: bold;
    min-height: 16px;
font-size: 12px;
}

input {
    width: 100%;
}

